.textInput{
  max-width: 600px;
  text-align: center;
  margin: 10px auto;
}

.listContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.listItems{
  width: 250px;
  text-align: center;

}

img{

  width: 100px;
  height: 100px;
  display:block; margin: 10px auto;
}
